@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

body::-webkit-scrollbar{
    display: none;
}

.logo {
    font-family: "Quantico", sans-serif;
    font-style: normal;
}


.ui{
    color: black;
    background-color: white;
}
.btn{
    color: white;
    transition: 3s;
    background-color: rgb(73, 73, 255);
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 255);
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
